/** @format */

:root {
  --Red: hsl(14, 86%, 42%);
  --hover-red: hsl(14, 85%, 32%);
  --Green: hsl(159, 69%, 38%);

  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "red-hat";
  src: url("./assets/fonts/static/RedHatText-Regular.ttf") format(".ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "red-hat-semibold";
  src: url("./assets/fonts/static/RedHatText-SemiBold.ttf") format(".ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "red-hat-bold";
  src: url("./assets/fonts/static/RedHatText-Bold.ttf") format(".ttf");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: var(--Rose-100);
  font-size: 1rem;
  font-family: red-hat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

svg {
  width: 1.5rem;
}

.container {
  width: 88%;
  padding-block: 2.5rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr minmax(320px, auto);
  gap: 32px;
}

@media (width < 375px) {
  .container {
    width: 100%;
    padding-inline: 1rem;
    grid-template-columns: 1fr;
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.25rem;
  color: var(--Red);
}

h3 {
  font-size: 1rem;
  margin-block: 0.25rem;
}

ul {
  list-style: none;
}

.title {
  font-size: 0.875rem;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  list-style: none;
}

.products__list img {
  border-radius: 10px;
}

.product__img {
  position: relative;
}

.add-to-cart {
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  width: min(60%, 10rem);
}

.add-to-cart-btn {
  background-color: var(--Rose-50);
  border: 1px solid var(--Red);
  cursor: pointer;
  height: 2.25rem;
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 100vw;
  margin-inline: auto;
  text-wrap: nowrap;
  transition: color 150ms ease;

  img,
  span {
    pointer-events: none;
  }
}

.add-to-cart-btn:hover {
  color: var(--Red);
}

.add-to-cart-btn.inactive {
  display: none;
}

.counter {
  background-color: var(--Red);
  width: 100%;
  height: 2.25rem;
  border-radius: 100vw;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-between;
  color: var(--Rose-50);
  display: none;

  button {
    background-color: transparent;
    border: 1.5px solid var(--Rose-50);
    outline: none;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    color: var(--Rose-50);
    border-radius: 100vw;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 150ms ease;
  }

  button:hover {
    background-color: var(--Rose-50);

    svg {
      stroke: var(--Red);
    }
  }

  svg {
    fill: none;
    width: 8px;
    stroke: var(--Rose-50);
    pointer-events: none;
  }
}

.counter.active {
  display: flex;
}

.product__content {
  margin-top: 1.5rem;

  #products__price {
    display: inline-block;
  }
}

aside {
  background-color: #fff;
  height: fit-content;
  border-radius: 10px;
  padding: 1.5rem;

  .cart__details {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
  }
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Rose-100);
  padding-block: 1rem;

  .cart__content > div {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .unit-bg {
    color: var(--Red);
    font-weight: 500;
  }

  .unit-price-bg {
    color: var(--Rose-400);
  }

  .cart-delete-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;

    svg {
      pointer-events: none;
    }
  }
}

.desc {
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: center;
  text-wrap: nowrap;
  background-color: var(--Rose-50);
  text-align: center;
  font-size: 0.875rem;
  vertical-align: middle;
  -moz-box-align: center;
  color: var(--Rose-500);
  border-radius: 8px;
  margin-block: 1.4rem 1rem;

  span {
    font-weight: 500;
    color: var(--Rose-900);
  }
}

.confirm-order {
  background-color: var(--Red);
  color: var(--Rose-50);
  border: none;
  height: 2.5rem;
  width: 100%;
  text-align: center;
  font-weight: 600;
  border-radius: 100vw;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.confirm-order:hover {
  background-color: var(--hover-red);
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  h2 {
    color: var(--Rose-900);
  }
}

.cart__inactive.inactive {
  display: none;
}

.cart__active {
  display: none;
}

.cart__active.active {
  display: block;
}
